@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,400&display=swap');

body{
  --elements: hsl(209, 23%, 22%);
  --bg: hsl(207, 26%, 17%);
  --txt: hsl(0, 0%, 100%);
  font-family: 'Nunito Sans', sans-serif;
}
body.white{
  --elements: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
  --txt: hsl(200, 15%, 8%);
  --bg: hsl(0, 0%, 98%);
  font-family: 'Nunito Sans', sans-serif;
}

#root{
  width: 100%;
}

.Home{
  width:100%; 
}
.homenav{
  background-color: var(--elements);
  color: var(--txt);
  display:flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
}
.content{
  background-color: var(--bg);
  color: var(--txt);
}
.content-nav{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;

}


img{
  width:330px;
  height: 200px;
  object-fit:fill;
}


.Misc{
  display: flex;
  flex-direction: column;
  gap:5px;
}
.flagblock{
  /* border:1px solid red; */
  width:330px;
  height: 400px;
}
.flag-img{
  width:330px;
  height: 200px;
}


.content-flags{
  display: grid;
  padding-left: 1%;
  min-height: 100vh;
  height: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;
  justify-content: center;
  
}


.options{
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  background-color: var(--elements);
  width:150px;
  border-radius: 10px;
}

.options ul{
  list-style: none;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding-left:0%;
}

.options li{
  cursor: pointer;
  height: 30px;
  padding-left: 10px;
}
.options li:hover{
  background-color: hsl(208, 23%, 35%);
}

.select{
  width:150px;
  display: flex;
  justify-content: space-between;
  background-color: var(--elements);
  height: 50px;
  border: none;
  color: var(--txt);
  align-items: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}